<div class="card">
  <h5 class="card-header">Led Board Controls</h5>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div>
          <h5>Instructions</h5>
          <ul>
            <li>Click select an individual LED </li>
            <li>Ctrl+Click add individual to selection </li>
            <li>Shift+Click to add in sequence from last selected LED </li>
            <li>Can combine Ctrl and Shift for sequences of selection</li>
            <li>After selecting leds use the color picker on the right to change color</li>
            <li>The color #000 (black) means the LEDs are off</li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div>
          <h5>Quick Actions</h5>
          <button (click)="turnOffBoard()" class="btn btn-sm btn-danger m-1">
            <i class="far fa-lightbulb"></i>
            Off
          </button>

          <button (click)="turnOnBoard()" class="btn btn-sm btn-success m-1">
            <i class="fas fa-lightbulb"></i>
            On
          </button>

          <button (click)="random()" class="btn btn-sm btn-primary m-1">
            <i class="fas fa-dice"></i>
            Random - Todo
          </button>

        </div>
        <div class="mt-2">
          <h5>Color Picker</h5>
          <div>
            <app-color-picker class="led-color-picker float-left" (colorChanged)="colorChanged($event)"></app-color-picker>
            <div class="btn-group btn-group-toggle ml-2 mt-1 led-brush-mode float-left">
              <label class="btn-primary btn-sm" ngbButtonLabel>
                <i class="fas" [ngClass]="{'fa-brush':controls.brushMode }"></i>
                <input type="checkbox" ngbButton [(ngModel)]="controls.brushMode"> Brush Mode <span *ngIf="controls.brushMode">: ON</span>
              </label>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="mt-2">
          <h5>Save Options</h5>
          <div class="btn-group btn-group-toggle ">
            <label [ngClass]="{'btn-primary':controls.autosave, 'btn-secondary':!controls.autosave}" class="btn-primary btn-sm" ngbButtonLabel>
              <i *ngIf="controls.autosave" class="far fa-save"></i>
              <input type="checkbox" ngbButton [(ngModel)]="controls.autosave"> Auto Save
              <span *ngIf="controls.autosave">: ON</span>
              <span *ngIf="!controls.autosave">: OFF</span>
            </label>
          </div>
          <button *ngIf="!controls.autosave" class="btn btn-primary btn-sm ml-2">
            <i class="far fa-save"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header">Board</h5>
  <div class="card-body">
    <div class="led-board-wrapper">
      <div class="led-board">
        <app-led-light *ngFor="let led of ledModel.leds;"
                       [led]="led">
        </app-led-light>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>




